</div>
<footer id="footer" class="footer footer-nav">
  <div class="container-fluid">
    <div class="col-sm-12 text-center navbar-text">
        <span class="pull-left text-muted">PagerMon 
          <% if(typeof version != 'undefined'){ %>
            <%=version%>
          <% } %></span>
        <span class="pull-right text-muted"><a href="https://github.com/pagermon/pagermon" rel="noreferrer" target="_blank"><i class="fa fa-2x fa-github" style=" vertical-align: middle;"></i> <span >GitHub</span></a>&nbsp;&nbsp;
		<a href="https://www.paypal.com/paypalme/nabro0813" rel="noreferrer" target="_blank"><i id="paypal" class="fa fa-2x fa-paypal" ></i> <span id="paypal" >Donate</span></a>&nbsp;&nbsp;
		<a href="https://github.com/bullseye555/pagermon_themes" rel="noreferrer" target="_blank"><i id ="whiteFoot" class="fa fa-2x fa-file-code" style=" vertical-align: middle;"></i> <span id ="whiteFoot" >My Pagermon Themes</span></a>&nbsp;&nbsp;
		<a href="https://github.com/bullseye555/pagermon_utilities" rel="noreferrer" target="_blank"><i id ="whiteFoot" class="fa fa-2x fa-clipboard-list" style=" vertical-align: middle;"></i> <span id ="whiteFoot" >My Pagermon Utilities</span></a>&nbsp;&nbsp;
		<script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
			new Crate({
						server: '1205795010319097886',
						channel: '1205813459485466624' // default to #eas-alert
						})
						</script>
		</span>
    </div>
  </div>
</footer>
</body>
</html>
